<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/home']">Dating App</a>
    <ul class="navbar-nav mr-auto" *ngIf="loggedin()">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/members']"><b>Matches</b></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/lists']"><b>Lists</b> </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/messages']"><b>Messages</b> </a>
      </li>
    </ul>
    <div *ngIf="loggedin()" class="dropdown" dropdown>
      <a class="dropdown-toggle text-light" dropdownToggle>
        Welcome {{ authService.decodedToken?.unique_name | titlecase }}
      </a>
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" href="#"><i class="fa fa-user mr-2"></i>Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="loggedout()"><i class="fa fa-sign-out mr-2"></i>Logout</a>
      </div>
    </div>

    <form *ngIf="!loggedin()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
      <input class="form-control mr-sm-2" type="text" placeholder="Username" aria-label="Username" required name="username"
        [(ngModel)]="model.username">
      <input class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="Password" name="password"
        required [(ngModel)]="model.password">
      <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
    </form>
  </div>
</nav>